---
---

@import "{{ site.theme }}";

a code {
    color: #d5000d;
}
a:hover code {
  color: #c5000c;
}

nav {
/*position: sticky;*/
  top: 0;
  left: 0;
  width: 100%;
  background: #eaeaea;
  border-bottom: 1px solid darkgrey;
  height: 56px;

  > ul {
    display: flex;
    height: 56px;
    margin: 0 1em;
    align-items: center;

    > .separator {
      flex-grow: 1;
    }

    li {
      display: inline-block;
      padding: 0;

      > a, > span {
        display: inline-block;
        padding: 1em;
      }

      &:hover {
        > ul {
          display: block;
          position: fixed;
        }

        > a, > span {
          background: lightgrey;
        }
      }
    }

    > li {
      position: relative;
      flex-shrink: 0;

      > ul {
        display: none;
        position: absolute;
        background: #eaeaea;
        //box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        box-shadow: 0px 2px 4px;
        z-index: 1;

        > li {
          display: block;

          > a, > span {
            width: calc(100% - 2em);
          }
        }
      }
    }
  }
}
